[submodule "Walnut/vendor/spdlog"]
	path = Walnut/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Walnut/vendor/GLFW"]
	path = Walnut/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Walnut/vendor/imgui"]
	path = Walnut/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
